@import "tailwindcss";

body {
  background-color: #212529;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@layer utilities {
  .bg-light-dark {
    background-color: #2b3035;
  }
}
